.button-style{
  -fx-width: 130;
  -fx-border-color: white;
  -fx-border-radius: 10px;
  -fx-background-color: transparent;
  -fx-text-fill : white;
  -fx-border-width: 2px;
  -fx-height: 40;

}

.label_vencedor{
  -fx-font-size: 40;
  -fx-text-fill: white;
}

.label-apresentacao{
  -fx-font-size: 30;
  -fx-text-fill: white
}

.button-iniciar{
  -fx-background-color: transparent;
  -fx-border-color: white;
  -fx-border-radius: 10px;
  -fx-text-fill: white;
}